@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center bg-primary text-white p-5">
    <h1>Welcome to the Utility Bill Application</h1>
    <p>Your one-stop solution for managing your utility bills efficiently.</p>
    <a href="/Home/Login" class="btn btn-secondary btn-lg">Login</a>
    <a href="/Home/SignUp" class="btn btn-outline-secondary btn-lg">Sign Up</a>
</div>

<div class="container mt-2">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/010/321/109/small/energy-saving-light-bulb-with-stacks-of-coins-and-shopping-cart-for-saving-financial-and-shopping-concept-free-photo.jpg" class="card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Track Your Expenses</h5>
                    <p class="card-text">Monitor and manage your utility bills in one place.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://assets-news.housing.com/news/wp-content/uploads/2019/08/23065605/Delhi-government-to-give-free-electricity-to-households-consuming-up-to-200-units-Thumbnail-300x200-compressed.jpg" class="card-img-top" alt="Image 2">
                <div class="card-body">
                    <h5 class="card-title">Easy Payment Methods</h5>
                    <p class="card-text">Make payments conveniently with various payment options.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://blog.se.com/wp-content/uploads/2020/08/Wiser-Energy-USA-630_2020-Primary-2-300x200.jpg" class="card-img-top" alt="Image 2">
                <div class="card-body">
                    <h5 class="card-title">Track your application</h5>
                    <p class="card-text">Manage your options in one place in very effiient manner.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <blockquote class="blockquote">
            <p class="mb-0">"The future depends on what you do today."</p>
            <footer class="blockquote-footer m-1">Mahatma Gandhi</footer>
        </blockquote>
    </div>
</div>
